@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Yeseva+One&display=swap');


.page {
  --text: #003049ff;
  --red: #da2046;
  --orange: #f77f00ff;
  --xanthous: #fcbf49ff;
  --vanilla: #eae2b7ff;

  color: var(--text);
  background-color: #F9F7F4;
}

.page>* {
  box-sizing: border-box;
  font-family: 'Quattrocento', serif;
}


.main {
  font-family: 'Quattrocento', serif;
  margin: 0px 200px;
  background-color: #F9F7F4;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
  background-color: white;
  border: 1.5px solid var(--vanilla);
  border-radius: 35px;
}

.flex {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
}

.name {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Yeseva One', serif;
  color: var(--red);
  margin: 0px;
  padding-left: 12px;
}

.s2dLogo {
  width: 200px;
  height: auto;
}

.aboutLink {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: var(--red);
}

.aboutLink:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.heroContent {
  flex: 1;
  font-size: 20px;
}

.heroHeading {
  font-family: 'Yeseva One', serif;
  margin-bottom: 0px;
  font-size: 64px;
}

.heroImgView {
  flex: 1;
  text-align: right;
}

.heroImg {
  width: 400px;
}

.display {
  margin: 40px 0px;
  text-align: center;
}

.heading {
  font-size: 36px;
  margin: 0px;
}

.accent {
  color: var(--red);
}

.info {
  font-size: 24px;
}

.gallery {
  padding: 200px 0px;
}

.galleryView {
  display: flex;
  gap: 100px;
}

.card {
  flex: 1;
  border-radius: 10px;
  border: 1.5px solid var(--vanilla);
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  box-shadow: 8px 8px var(--orange);
}

.siteSnapshot {
  width: 100%;
  object-fit: contain;
}

.siteMeta {
  padding: 20px;
  font-size: 20px;
  color: var(--text);
}


@media (min-width:0px) and (max-width: 786px) {
  .main {
    padding: 0px 20px;
  }

  .heading {
    font-size: 48px;
  }

  .info {
    font-size: 24px;
  }
}