@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,600;10..48,700;10..48,800&display=swap');


.page {
  --light: #fcf6e8;
  --yellow: #fdc449;
  --pink: #feccb3;
  --teal: #9bd3d0;
  --lightGrey: #545454;
  --grey: #373737;
  --text: #222344;

  background-color: var(--light);
  color: var(--text);
}

.page>* {
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 18px;
}

.main {
  padding: 40px 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 240px;
}

menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 80px;
  padding: 4px 16px;
  font-size: 18px;
  border: 1.5px solid transparent;
  margin-left: 4px;
}

nav:hover {
  border: 1.5px solid var(--grey);
}

.active {
  border: 1.5px solid var(--grey);
}

button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 10px 32px;
  height: 60px;
  border-radius: 18px;
  background-color: var(--grey);
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Bricolage Grotesque', sans-serif;
  cursor: pointer;
}

.heroView {
  display: flex;
  align-items: center;
}

.callout {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 100px;
}

.inlineView {
  display: flex;
  justify-items: center;
  align-items: center;
}

.heading {
  font-size: 84px;
  line-height: 1;
  margin: 0px;
}

.arrowIcon {
  height: 80px;
  margin-left: 24px;
}

.subText {
  width: 60%;
  font-size: 20px;
  color: var(--lightGrey);
  line-height: 1.5;
  margin: 50px 0px 30px 0px;
}

.primaryBtn {
  background-color: var(--yellow);
  color: var(--grey);
  width: fit-content;
  border: 1.5px solid var(--grey);
  box-shadow: 6px 6px var(--grey);
}

.nextIcon {
  height: 24px;
  width: 24px;
  margin-left: 12px;
}

.heroImgView {
  flex: 1;
  text-align: center;
}

.heroImg {
  height: 500px;
  margin-top: 100px;
  object-fit: contain;
}

.collab {
  margin-top: 100px;
  background-color: var(--grey);
  height: 150px;
}

.servicesView {
  display: flex;
  width: 100%;
  gap: 80px;
  margin: 80px 0px;
  flex-wrap: wrap;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
  text-align: center;
}

.serviceHeading {
  width: 75%;
  font-size: 64px;
  margin: 0px;
}

.serviceMessage {
  width: 50%;
  font-size: 20px;
  color: var(--lightGrey);
}

.serviceCard {
  text-align: left;
  flex: 1;
  border-radius: 18px;
  padding: 60px 30px;
  border: 1.5px solid transparent;
}

.serviceCard:hover {
  border: 1.5px solid var(--grey);
  box-shadow: 8px 8px var(--grey);
}

.serviceTitle {
  font-size: 36px;
}

.serviceText {
  line-height: 1.5;
  font-size: 20px;
  color: var(--lightGrey);
  margin: 0px;
}

.serviceIconView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1.5px solid var(--grey);
  border-radius: 100px;
  background-color: white;
  overflow: hidden;
}

.serviceIcon {
  width: 60px;
  height: 60px;
}

.mobile {
  background-color: var(--teal);
}

.web {
  background-color: var(--pink);
}

.customer {
  background-color: var(--yellow);
}

.whyUsView {
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex: 1;
}

.whyImgView {
  flex: 1.25;
  text-align: center;
  overflow: hidden;
}

.whyImg {
  height: 110%;
}

.whyContent {
  flex: 1;
  padding: 40px;
}

.whyContent>.heading {
  color: white;
}

.whyInfoSection {
  margin-top: 24px;
}

.whyInfoSection .highlight {
  letter-spacing: 4px;
  font-size: 84px;
  margin: 0px;
}

.whyInfoSection .title {
  width: 25%;
  font-size: 28px;
  margin: 0px;
  line-height: 1.5;
  margin-left: 20px;
}

.whyInfoSection .text {
  width: 80%;
  font-size: 18px;
}

.projectsList {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.projectsList:nth-child(even) {
  flex-direction: row-reverse;
}

.projectsList:nth-child(even) .projectContent {
  padding-left: 120px;
}

.projectView {
  padding: 80px 150px;
}

.projectContent {
  flex: 1;
}

.projectTitle {
  width: 75%;
  font-size: 32px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--teal);
  padding: 8px 20px;
  height: 40px;
  width: fit-content;
  border-radius: 20px;
}

.seeProjectBtn {
  background-color: transparent;
  height: 50px;
  border-radius: 25px;
  color: var(--grey);
  border: 2px solid var(--grey);
}

.coverView {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 400px;
  border: 2px solid var(--grey);
  border-radius: 12px;
  box-shadow: 22px 22px var(--grey);
}

.projectCover {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.testimonialsView {
  background-color: var(--teal);
  height: 100vh;
  padding: 60px;
  text-align: center;
}

.testimonialsView .heading {
  color: white;
}

.carouselView {
  display: flex;
  padding: 200px 80px 0px 0px;
}

.picView {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: var(--pink);
  border: 2px solid var(--grey);
  border-radius: 15px;
  margin: 0px 80px;
}

.profilePic {
  position: absolute;
  bottom: 0px;
  left: -5%;
  width: 105%;
  height: 150%;
  object-fit: cover;
}

.quote {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: left;
}

.label {
  margin: 0px;
  color: white;
  font-size: 24px;
  text-align: left;
}

.name {
  font-weight: 600;
  font-size: 28px;
  margin: 0px;
  text-align: left;
}

.stepBtn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  padding: 0px;
  background-color: transparent;
}

.stepBtn.prev {
  color: var(--text);
}

.stepBtn.next {
  margin-left: 24px;
  color: white;
}

footer {
  padding: 80px 120px;
  background-color: var(--grey);
  color: white;
}

.footerInfo {
  box-sizing: initial;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
  border-bottom: 1.5px solid white;
  line-height: 1.5;
  color: #efefef;
  height: 175px;
}

.footerInfo .heading {
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.footerText {}

.listView {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-left: 40px;
  height: 100%;
}

input {
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Bricolage Grotesque', sans-serif;
  padding-left: 16px;
}

.subBtn {
  background-color: var(--yellow);
  border: 1px solid var(--grey);
  color: var(--grey);
}

.inputView {
  display: flex;
  padding: 12px;
  background: white;
  justify-content: space-between;
  border-radius: 30px;
}